$navbar-transparent-brand-color: #ffffff;
$navbar-transparent-brand-hover-color: #ffffff;
$navbar-transparent-color: #ffffff;
$navbar-transparent-hover-color: #ffffff;
$navbar-transparent-disabled-color: #ffffff;
$navbar-transparent-active-color: #ffffff;
$navbar-transparent-color: #ffffff;
$navbar-transparent-toggler-border-color: #ffffff;
$navbar-transparent-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-transparent-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");

$primary-overlay-color: rgba(11, 11, 43, 0.7);

$icon-size: 120px;