$primary: #2e4aaa;
$secondary: #f4f5f7;
$dark: #454e68;
$info: #979797;
$blue: #162142;

$theme-colors: ("black": black);

$navbar-brand-padding-y: 1rem;
$navbar-padding-y: 1.5rem;
$navbar-padding-x: 1.5rem;
$navbar-brand-font-size: 1.5rem;
$navbar-nav-link-padding-x: 0rem;
$card-border-radius: 0;

$input-border-radius: 0;
$input-line-height: 3;

$btn-padding-x: 1.5rem;
$btn-padding-y: 0.8rem;
$btn-border-radius: 2px;